{
  "extends": [
    "google"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "linebreak-style": "off",
    "max-len": [
      "warn",
      200
    ]
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}


